### **1.Consumo di alcol per paese** 
Esegui un’**analisi esplorativa** focalizzata sul **consumo di alcol**.  
Analizza i seguenti aspetti:
* Visualizza i primi 10 paesi ordinati per total_litres_of_pure_alcohol (dal più alto)

* Calcola la media del consumo di birra, vino, e distillati

* Crea una nuova colonna alcohol_index che sia: `(beer_servings + wine_servings + spirit_servings) / 3`

* Trova il paese con il valore massimo di alcohol_index

* Filtra solo i paesi che consumano più di 100 birre all’anno

Crea un bar chart dei 10 paesi con più consumo totale (total_litres_of_pure_alcohol)

Crea un line plot con wine_servings ordinato per paese (usa sort_values)

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("https://raw.githubusercontent.com/fivethirtyeight/data/master/alcohol-consumption/drinks.csv")

df.sort_values(by="total_litres_of_pure_alcohol", ascending=False).head(10)    #mostro le prime 10 righe della colonna data ordinata in ordine decrescente

df[["beer_servings","spirit_servings","wine_servings"]].mean()     #calcolo la media delle colonne beer_servings, spirit_servings e wine_servings

df["alcohol_index"]=(df["beer_servings"]+df["spirit_servings"]+df["wine_servings"])/3

df.sort_values(by="alcohol_index", ascending=False).head(10)    #mostro le prime 10 righe della colonna alcohol_index ordinata in ordine decrescente

print("Il paese con il valore massimo di alcohol_index è: ", df.loc[df["alcohol_index"].idxmax(), "country"])    #mostro il valore massimo della colonna alcohol_index

print("I paesi che consumano più di 100 birre all'anno sono: \n", df[df["beer_servings"] > 100]["country"])    #mostro i paesi che consumano più di 100 birre all'anno

top=df.sort_values(by="total_litres_of_pure_alcohol", ascending=False).head(10)    #mostro le prime 10 righe della colonna data ordinata in ordine decrescente
plt.bar(top["country"], top["total_litres_of_pure_alcohol"], color="pink")    #creo un grafico a barre con i paesi e il consumo totale di alcol
plt.title("Top 10 paesi con più consuno totale")      #titolo del grafico
plt.xlabel("Paesi")     #etichetta dell'asse x
plt.ylabel("Litri")      #etichetta dell'asse y
plt.show()

l=df.sort_values(by="wine_servings", ascending=False)    
plt.plot(l["country"], l["wine_servings"], color="lightblue")    #creo un grafico a linee con i paesi e il consumo di vino
plt.title("Consumo di vino per paese")    #titolo del grafico
plt.xlabel("Paesi")    #etichetta dell'asse x
plt.ylabel("Servings")    #etichetta dell'asse y
plt.xticks(rotation=45)    #ruoto le etichette dell'asse x di 90 gradi
plt.xticks(ha="right")      #allineo le etichette dell'asse x
plt.show()

ModuleNotFoundError: No module named 'matplotlib'

### **2.Analisi offerte di lavoro** 

Esegui un’**analisi esplorativa** focalizzata sui **lavori nel campo dei dati in ciascun paese**.  
Analizza i seguenti aspetti per ogni paese:

* Lo **stipendio medio annuale** (`salary_year_avg`)
* Il **numero totale di offerte di lavoro** (job count)
* L’intervallo degli stipendi: **valore minimo e massimo** (`min` / `max`)

Rappresenta graficamente lo stipendio medio (`salary_year_avg`) per `job_title_short` usando un grafico a barre orizzontali. Ordina i dati dallo stipendio più alto al più basso. Includi un titolo e le etichette per gli assi x e y.

In [ ]:
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

dfna=df[["job_country", "salary_year_avg"]].dropna()  # Rimuovo le righe con date mancanti

salary= dfna.groupby("job_country")["salary_year_avg"].mean().sort_values(ascending=False)  # Calcolo la media degli stipendi per paese
plt.plot(salary.index, salary.values, color="blue")
plt.title("Stipendio medio per paese")  # Titolo del grafico
plt.xlabel("Paesi")  # Etichetta dell'asse x
plt.xticks(rotation=45)  # Ruoto le etichette dell'asse x
plt.ylabel("Stipendio medio")  # Etichetta dell'asse y
plt.xticks(ha="right")  # Allineo le etichette dell'asse x
plt.show()  # Mostro il grafico

job_counts = df['job_country'].value_counts()  # Conteggio dei lavori per paese
plt.bar(job_counts.index, job_counts.values, color="green")  # Creo un grafico a barre con i paesi e il numero di lavori
plt.title("Numero di lavori per paese")  # Titolo del grafico
plt.xlabel("Paesi")  # Etichetta dell'asse x
plt.xticks(rotation=45)  # Ruoto le etichette dell'asse x
plt.ylabel("Numero di lavori")  # Etichetta dell'asse y
plt.xticks(ha="right")  # Allineo le etichette dell'asse x
plt.show()  # Mostro il grafico

interv=dfna.groupby("job_country")["salary_year_avg"].agg(["max", "min"])   # Calcolo il massimo e il minimo degli stipendi per paese
interv["range"] = interv["max"] - interv["min"]  # Calcolo l'intervallo degli stipendi
print(interv)  # Mostro il massimo e il minimo degli stipendi per paese

dati=dfna.groupby("job_title_short")["salary_year_avg"].mean().sort_values(ascending=False)  # Calcolo la media degli stipendi per titolo di lavoro
plt.bar(dati.index, dati.values, color="orange")  # Creo un grafico a barre con i titoli di lavoro e gli stipendi medi
plt.title("Stipendio medio per titolo di lavoro")  # Titolo del grafico
plt.xlabel("Titoli di lavoro")  # Etichetta dell'asse x
plt.xticks(rotation=45)  # Ruoto le etichette dell'asse x
plt.ylabel("Stipendio medio")  # Etichetta dell'asse y
plt.xticks(ha="right")  # Allineo le etichette dell'asse x

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,NaN,NaN,Boehringer Ingelheim,None,None
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,NaN,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,None,NaN,NaN,ALPHA Augmented Services,"['python', 'sql', 'c#', 'azure', 'airflow', 'd...","{'analyst_tools': ['dax'], 'cloud': ['azure'],..."
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,None,NaN,NaN,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',..."
4,Data Engineer,Data Engineer- Sr Jobs,"Washington, DC",via Clearance Jobs,Full-time,False,Sudan,2023-08-07 14:29:36,False,False,Sudan,None,NaN,NaN,Kristina Daniel,"['bash', 'python', 'oracle', 'aws', 'ansible',...","{'cloud': ['oracle', 'aws'], 'other': ['ansibl..."